name: Release

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'skip-ci')"
    steps:
      - uses: actions/checkout@v1

      - name: Authorize NPM
        run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_AUTH_TOKEN}}" > ~/.npmrc

      - name: Configure Git
        run: |
          git config --global user.email "ncphillips.19@gmail.com"
          git config --global user.name "Nolan, but as a Bot"

      - name: Install & Build
        run: yarn

      - name: Version
        run: yarn release

      - name: Push Tags & Changelog Updates
        run: git push --follow-tags origin HEAD:master

      - name: Publish
        run: npm publish
